body {
    font-family: Arial, monospace;
    font-size: large;
    color: darkslategray;
    background-color: #F1F1F1;
}

a.title {
    color: #47569B;
    font-size: 25px;
}

a.title:hover {
    text-decoration: underline;
}

a.logo:hover {
    color: white;
}

a {
    color: darkslategray;
    text-decoration-color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #6d9595;
}


p {
    align-content: center;
    padding: 1%;

}

p.post {
  padding-left: 4%;
  text-align: left;
}

span.post_title {
    color: #47569B;
    font-size: 25px;
}

p.post_preview {
    padding: 0%;
}

p.post_preview:hover {
  cursor: pointer ;
}

div.post_preview {
    text-align: left;
    width: 65%;
    padding-left: 4%;
}

div.categories {
    padding-left: 5%;
    width: 20%;
    margin-left: 15%;
    float:right;
}

p.categories {
    width: 100%;
    border: 1px;
}

p.categories:hover {
    cursor: pointer;
    color: black;
}

div.header {
    width: 70%;
    padding-left:13%;
    padding-top: 3%;
    color: darkslategray;
}

div.centerDiv {
    background-color: white;
    padding: 1%;
    margin: auto;
    box-shadow:1px 1px 3px grey;
}

div.headerLogo {
    height: 20%;
    background-color: white;
    padding: 1%;
    font-size:28px;
    text-align:left;
    box-shadow:1px 1px 3px grey;
}

div.headerNav {
    background-color: white;
    color: darkslategray;
    padding: 1%;
    font-size: 20px;
    text-align:left;
    box-shadow:1px 1px 3px grey;
}

ul li{
  display: inline;
  margin: 0 0 30px 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}