<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend Ranch</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "backendRanch/style.css" %}">
</head>
<body>
<div class="header">
    <div style="padding: 1%">
    <div style="float: left;" align="left">
        <a href="/" class="logo">BackendRanch.io - Your place for backend fun</a>
    </div>
        <div style="float: right; padding-right: 10%">
            <a href="/">Home</a>&nbsp;&nbsp;
            <a href="/posts">Posts</a>&nbsp;&nbsp;
            <a href="/about">About Me</a></div>
        </div>

</div>
<div class="centerDiv">
          {% if main_content is None %}
              <div>
                Error: No posts could be found.
              </div>
          {%  else %}
              <div align="center">
              {%  for post in main_content %}
                  <p class='post'>
                      <b>{{ post.title }}</b><br>
                      {{  post.prefix }} <br><br>
                      {{  post.date }} <br>
                  </p>
              {%  endfor %}
              </div>
          {% endif %}
</div>
</body>
</html>