<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend Ranch</title>
    {% load static %}
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <script src='{% static "main.js" %}'></script>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="/static/base/js/main.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div class="header">
        <div class="headerLogo">
            <a href="/"><b>BackendRanch - A programming blog</b></a>
        </div>
        <div class="headerNav">
            <ul>
                <li><a href="/">Home</a></li>&nbsp;&nbsp;&nbsp;
                <li><a href="/posts">Posts</a></li>&nbsp;&nbsp;&nbsp;
                <li><a href="/about">About Me</a></li>
            </ul>
        </div>
        <div class="centerDiv">
            <div>
                <div class="categories">
                    <p><b>Quick Categories</b></p>
                    {% for tag in tags %}
                    <p class="categories"><u><a href="/tags/{{ tag }}">{{ tag }}</a></u></p>
                    <!--<p class="categories"><u><a href="/tags/Python">Python</a></u></p>-->
                    <!--<p class="categories"><u><a href="/tags/Java">Java</a></u></p>-->
                    <!--<p class="categories"><u><a href="/tags/machine%20learning">Machine Learning</a></u></p>-->
                    {% endfor %}
                </div>
                <div>
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
