{% extends "layout2.html" %}

{% block content %}

          <p class='post'>
              <span class="post_title">{{ post.title }}</span><br><br>
              {% autoescape off %}
              {{ post.introduction }}
              <br><br><br>
              {{  post.content }} <br><br><br>
              {% endautoescape %}
              This entry was posted at <b>{{  post.created_on }}</b> regarding
              {% for tag in post.tags.names %}
              <a href="/tags/{{tag}}"><b>{{tag}}</b></a>

              {% endfor %}
              <br><br>
          </p>
{% endblock %}