{% extends "layout2.html" %}
{% block content %}
        {% if main_content is None %}
          <div>
            Error: No posts could be found.
          </div>
        {%  else %}
          <div class="post_preview">
          {%  for post in main_content %}
              <p class='post_preview' onclick="getPost('{{ post.slug }}')">
                  <a href="/posts/{{post.slug}}" class="title">{{ post.title }}</a>
              </p>
                {% autoescape off %}
                  {{  post.introduction }} <br><br>
              {% endautoescape %}
This entry was posted at <b>{{  post.created_on }}</b> regarding
              {% for tag in post.tags.names %}
              <a href="/tags/{{tag}}"><b>{{tag}}</b></a>
              {% endfor %}
              <br><br>
              </p>
              <hr>
          {%  endfor %}
          </div>
          {% endif %}
    </div>
{% endblock %}